* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template: 1fr 5fr / minmax(350px, 1fr) 5fr;
    height: 100vh;
}

.sidebar {
    display: grid;
    background-color: #1992d4;
    grid-row: 1 / span 2;
    padding: 30px;
    grid-template-rows: auto auto auto 1fr;
    row-gap: 40px;
}

.header {
    display: grid;
    background-color: white;
    grid-column: 2 / span 1;
    grid-template: 2fr 3fr / 2fr 1fr;
    padding: 16px 30px;
}

.main-content {
    background-color: #e2e8f0;
}


.dashboard-logo,
.general-nav > li,
.main-nav > li {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 16px;
    align-items: center;
    
}

.dashboard-logo > h1 {
    color: white;
}

.dashboard-logo > img,
.general-nav > li > img,
.main-nav > li > img {
    filter: invert(100%);
}

.dashboard-logo > img {
    height: 50px; width: 50px;
}

.main-nav,
.general-nav {
    display: grid;
    gap: 16px;
}

.search > img,
.general-nav > li > img,
.main-nav > li > img {
    height: 1.5rem; width: 1.5rem;
}

.general-nav > li > a,
.main-nav > li > a {
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    text-decoration: none;
}

.search {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

input[type="search"] {
    background-color: #e2e8f0;
    height: 2rem;
    border-radius: 1rem;
    border: none;
}

.profile-top {
    display: grid;
    justify-content: end;
    margin-right: 30px;
    align-items: center;
    grid-template-columns: auto auto auto;
    gap: 24px;
}

.profile-top > img {
    height: 50px; width: 50px;
    border-radius: 50%;
}

.profile-top > button {
    background-image: url("logos/notification.svg");
    height: 1.5rem; width: 1.5rem;
    background-color: white;
    border: none;
}

.profile-top > p {
    font-weight: 700;
    font-size: 1.4rem;
}

.profile-greeting {
    display: grid;
    grid-template: 1fr 1.5fr / auto 1fr;
    align-items: center;
    column-gap: 20px;
}

.profile-greeting > img {
    height: 75px; width: 75px;
    border-radius: 50%;
    grid-row: span 2;
}

.profile-greeting > p {
    font-size: 1.1rem;
    font-weight: 700;
    align-self: end;
}

.profile-greeting > h1 {
    align-self: start;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    align-items: center;
    justify-content: end;
    gap: 16px;
}

.buttons > button {
    background-color: #1992d4;
    color: white;
    border-radius: 20px;
    border: none;
    height: 40px; width: 100px;
    font-size: 1.2rem;
}

.main-content {
    display: grid;
    grid-template: auto auto / 3fr 1fr;
}

.projects {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row: span 2;
    gap: 20px;
    padding: 20px;
}

.projects > h2 {
    grid-column: span 2;
    margin-top: 20px;
}

.project-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: white;
    padding: 20px 30px;
    height: 250px;
    border-radius: 6px;
    border-left: 10px solid orange;
    align-items: center;
}

.project-card > h4 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 6px;
}

.project-card > p {
    align-self: start;
    color: grey;
    line-height: 1.2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    gap: 20px;
}

.card-buttons {
    display: grid;
    grid-template-columns: repeat(3, 25px);
    column-gap: 20px;
    height: 25px;
    justify-content: end;
}

.card-buttons > button {
    border: none;
    background-color: white;
}

.card-buttons > button:first-child {
    background-image: url("logos/star-plus.svg");
    background-size: cover;
}

.card-buttons > button:nth-child(2) {
    background-image: url("logos/eye-plus.svg");
    background-size: cover;
}

.card-buttons > button:nth-child(3) {
    background-image: url("logos/share.svg");
    background-size: cover;
}